.expertisecard{
    width: 100%;
}
.solarsolutions{
    background-image: url("../../assets/img/solarsolution.png");
    width: 262px;
    height: 432px;
}

.cableservices{
    background-image: url("../../assets/img/cableservices.png");
    width: 262px;
    height: 432px;
}

.internetsolutions{
    background-image: url("../../assets/img/internetsolution.png");
    width: 262px;
    height: 432px;
}

.phoneservices{
    background-image: url("../../assets/img/phone.png");
    width: 262px;
    height: 432px;
}